In [37]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [24]:
data=pd.read_csv('movies.csv')
data

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8096.000000,87,60.72,2009

In [25]:
data.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,22.18,2007
8,Waiting For Forever,Romance,Independent,53,5.000000,6,0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,217.57,2010

In [26]:
a=data['Audience score %'].min(),data['Audience score %'].max()
a

(35, 89)

In [27]:
a=data.describe()
a

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
count,77.000000,77.000000,77.000000,77.000000,77.000000
mean,63.727273,1004.974730,46.701299,145.217532,2009.077922
std,13.657113,7671.056853,26.095001,164.040155,1.354974
min,35.000000,0.000000,3.000000,0.030000,2007.000000
25%,52.000000,1.783944,26.000000,32.590000,2008.000000
50%,64.000000,2.883500,45.000000,79.180000,2009.000000
75%,76.000000,5.343622,64.000000,205.300000,2010.000000
max,89.000000,66934.000000,96.000000,709.820000,2011.000000

In [39]:
x=data[['Year','Profitability','Rotten Tomatoes %','Worldwide Gross']]
y=data['Audience score %']
x,y

(    Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 0   2008       1.747542                 64            41.94
 1   2010       1.090000                 68            19.62
 2   2010       1.211818                 43            26.66
 3   2010       0.000000                 15            43.04
 4   2008       6.267647                 28           219.37
 ..   ...            ...                ...              ...
 72  2007       0.652603                 54            29.37
 73  2009       4.382857                 89            30.68
 74  2011       0.448645                 79             8.97
 75  2008       5.343622                 40           160.31
 76  2009    8096.000000                 87            60.72

 [77 rows x 4 columns],
 0     70
 1     52
 2     35
 3     44
 4     72
       ..
 72    84
 73    64
 74    89
 75    71
 76    81
 Name: Audience score %, Length: 77, dtype: int64)

In [41]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.30)
x_test,y_test,x_train,y_train

(    Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 41  2011       1.983200                 38            39.66
 53  2010       1.715263                 21            32.59
 76  2009    8096.000000                 87            60.72
 1   2010       1.090000                 68            19.62
 42  2008       0.252895                 78            15.17
 56  2010       1.797417                 45            21.57
 8   2011       5.000000                  6             0.03
 14  2009      14.196400                 27           709.82
 29  2008       1.384167                 85            16.61
 25  2010       2.883500                 15           288.35
 30  2008       1.382800                 52            20.74
 45  2008       9.234454                 53           609.47
 38  2011       2.536429                  8           142.04
 59  2010       1.340000                 71            20.10
 57  2011       0.000000                 85            30.15
 20  2008       1.783944                 73           285.43
 62  2007       2.367685                  3            59.19
 24  2010       2.440500                 57            48.81
 9   2010       4.184038                 17           217.57
 51  2007       1.980206                  8            69.31
 27  2008       7.221796                 49           415.25
 5   2011       3.081421                 60           117.09
 17  2009       1.751351                 56            32.40
 18  2007       2.129444                 30           127.77
 71  2011       4.471875                 84            14.31
 58  2009       2.642353                 56           224.60
 23  2011       1.719514                 15            60.18
 19  2008       3.207850                 60            43.31
 48  2009       2.004444                 18            36.08
 28  2010       3.491250                 28            55.86
 66  2009       2.044400                 27           102.22
 36  2007       3.307180                 39            92.60
 32  2008    2071.000000                 15            20.71
 13  2009       5.402632                 14           205.30
 0   2008       1.747542                 64            41.94
 7   2007      11.089742                 89            22.18
 34  2011       3.682733                 37            55.24
 72  2007       0.652603                 54            29.37
 64  2011       5.387972                 56           193.97
 70  2010       4.598800                 29           114.97
 31  2007       5.103117                 21           153.09
 16  2009       7.867500                 43           314.70
 74  2011       0.448645                 79             8.97
 12  2008      10.180027                 49           376.66
 6   2008       2.896019                 96           521.28
 26  2010       2.883500                 15           288.35
 33  2010       0.000000                 14            21.37
 10  2007       3.724192                 46            55.86
 68  2008   66934.000000                 40            33.47
 73  2009       4.382857                 89            30.68
 50  2010       2.530526                 28            96.16
 43  2011       8.744706                 93           148.66
 63  2010       1.314062                 53            42.05,
 41    50
 53    49
 76    81
 1     52
 42    70
 56    58
 8     53
 14    78
 29    61
 25    49
 30    74
 45    76
 38    48
 59    57
 57    77
 20    81
 62    61
 24    60
 9     54
 51    55
 27    81
 5     72
 17    47
 18    41
 71    80
 58    63
 23    48
 19    68
 48    40
 28    70
 66    47
 36    64
 32    47
 13    68
 0     70
 7     67
 34    54
 72    84
 64    52
 70    66
 31    82
 16    74
 74    89
 12    82
 6     89
 26    49
 33    49
 10    47
 68    51
 73    64
 50    62
 43    84
 63    56
 Name: Audience score %, dtype: int64,
     Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 22  2010       1.365692                 89           355.01
 37  2008       3.352729                 73            33.53
 69  2007       4.005737                 93           340.49
 4   2008       6.267647                 28           219.37
 61  2009       7.153600                 42           178.84
 67  2008       2.022925                 26           161.83
 54  2007       6.636402                 91           219.00
 65  2011       5.387972                 56           193.97
 46  2008       9.234454                 53           609.47
 40  2007       3.647411                 63           145.90
 15  2009       2.598205                 38           101.33
 75  2008       5.343622                 40           160.31
 35  2009       2.140000                 34            10.70
 11  2011       6.383364                 26           702.17
 39  2011       0.825800                 83             8.26
 55  2010       1.245333                 11            93.40
 47  2008       2.649068                 13           105.96
 52  2010       2.639333                 40            79.18
 3   2010       0.000000                 15            43.04
 44  2008       3.746782                 63           206.07
 2   2010       1.211818                 43            26.66
 49  2010       1.817667                 48            54.53
 60  2008      22.913136                 65           252.04
 21  2010       2.202571                 20            77.09,
 22    88
 37    67
 69    80
 4     72
 61    60
 67    52
 54    83
 65    52
 46    76
 40    70
 15    65
 75    71
 35    66
 11    68
 39    84
 55    45
 47    61
 52    62
 3     44
 44    77
 2     35
 49    55
 60    76
 21    47
 Name: Audience score %, dtype: int64)

In [42]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [44]:
reg.predict(x_test)

array([  53.42725847,   49.64741565,  669.03846224,   65.18042293,
         72.7078665 ,   57.50295389,   41.87707543,   71.02686031,
         75.19222064,   53.85173968,   64.13412424,   79.19868415,
         45.78559709,   66.2246098 ,   68.94373319,   77.62543037,
         50.72116227,   62.26206039,   52.92223053,   52.62644197,
         73.03048298,   62.8070754 ,   63.63638941,   61.48064826,
         68.55322585,   68.32129851,   46.12482278,   67.51536717,
         50.89566463,   52.70378217,   55.53115131,   63.7646957 ,
        203.56497085,   53.85992334,   68.72762584,   79.54845937,
         53.58839395,   67.12156846,   63.47181446,   54.54389123,
         59.2646339 ,   66.47515818,   66.43901989,   72.32015747,
         91.15196243,   53.85173968,   46.88512698,   65.2789622 ,
       4974.24991885,   74.94550177,   53.60185453,   75.13888602,
         60.66449217])

In [30]:
#set-3

In [31]:
data.tail(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,161.83,2008
68,Fireproof,Drama,Independent,51,66934.000000,40,33.47,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8096.000000,87,60.72,2009

In [32]:
data.dropna()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8096.000000,87,60.72,2009

In [33]:
data.describe()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
count,77.000000,77.000000,77.000000,77.000000,77.000000
mean,63.727273,1004.974730,46.701299,145.217532,2009.077922
std,13.657113,7671.056853,26.095001,164.040155,1.354974
min,35.000000,0.000000,3.000000,0.030000,2007.000000
25%,52.000000,1.783944,26.000000,32.590000,2008.000000
50%,64.000000,2.883500,45.000000,79.180000,2009.000000
75%,76.000000,5.343622,64.000000,205.300000,2010.000000
max,89.000000,66934.000000,96.000000,709.820000,2011.000000

In [47]:
x=data[['Year','Profitability','Rotten Tomatoes %','Worldwide Gross']]
y=data['Audience score %']
x,y

(    Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 0   2008       1.747542                 64            41.94
 1   2010       1.090000                 68            19.62
 2   2010       1.211818                 43            26.66
 3   2010       0.000000                 15            43.04
 4   2008       6.267647                 28           219.37
 ..   ...            ...                ...              ...
 72  2007       0.652603                 54            29.37
 73  2009       4.382857                 89            30.68
 74  2011       0.448645                 79             8.97
 75  2008       5.343622                 40           160.31
 76  2009    8096.000000                 87            60.72

 [77 rows x 4 columns],
 0     70
 1     52
 2     35
 3     44
 4     72
       ..
 72    84
 73    64
 74    89
 75    71
 76    81
 Name: Audience score %, Length: 77, dtype: int64)

In [48]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.25)
x_test,y_test,x_train,y_train

(    Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 3   2010       0.000000                 15            43.04
 20  2008       1.783944                 73           285.43
 17  2009       1.751351                 56            32.40
 66  2009       2.044400                 27           102.22
 31  2007       5.103117                 21           153.09
 2   2010       1.211818                 43            26.66
 36  2007       3.307180                 39            92.60
 42  2008       0.252895                 78            15.17
 37  2008       3.352729                 73            33.53
 74  2011       0.448645                 79             8.97
 16  2009       7.867500                 43           314.70
 9   2010       4.184038                 17           217.57
 14  2009      14.196400                 27           709.82
 28  2010       3.491250                 28            55.86
 52  2010       2.639333                 40            79.18
 51  2007       1.980206                  8            69.31
 54  2007       6.636402                 91           219.00
 18  2007       2.129444                 30           127.77
 4   2008       6.267647                 28           219.37
 48  2009       2.004444                 18            36.08
 73  2009       4.382857                 89            30.68
 61  2009       7.153600                 42           178.84
 25  2010       2.883500                 15           288.35
 72  2007       0.652603                 54            29.37
 70  2010       4.598800                 29           114.97
 30  2008       1.382800                 52            20.74
 8   2011       5.000000                  6             0.03
 75  2008       5.343622                 40           160.31
 46  2008       9.234454                 53           609.47
 21  2010       2.202571                 20            77.09
 53  2010       1.715263                 21            32.59
 47  2008       2.649068                 13           105.96
 10  2007       3.724192                 46            55.86
 71  2011       4.471875                 84            14.31
 58  2009       2.642353                 56           224.60
 69  2007       4.005737                 93           340.49
 27  2008       7.221796                 49           415.25
 5   2011       3.081421                 60           117.09
 7   2007      11.089742                 89            22.18
 68  2008   66934.000000                 40            33.47
 0   2008       1.747542                 64            41.94
 67  2008       2.022925                 26           161.83
 63  2010       1.314062                 53            42.05
 60  2008      22.913136                 65           252.04
 49  2010       1.817667                 48            54.53
 65  2011       5.387972                 56           193.97
 12  2008      10.180027                 49           376.66
 43  2011       8.744706                 93           148.66
 64  2011       5.387972                 56           193.97
 50  2010       2.530526                 28            96.16
 11  2011       6.383364                 26           702.17
 34  2011       3.682733                 37            55.24
 32  2008    2071.000000                 15            20.71
 57  2011       0.000000                 85            30.15
 29  2008       1.384167                 85            16.61
 40  2007       3.647411                 63           145.90
 15  2009       2.598205                 38           101.33,
 3     44
 20    81
 17    47
 66    47
 31    82
 2     35
 36    64
 42    70
 37    67
 74    89
 16    74
 9     54
 14    78
 28    70
 52    62
 51    55
 54    83
 18    41
 4     72
 48    40
 73    64
 61    60
 25    49
 72    84
 70    66
 30    74
 8     53
 75    71
 46    76
 21    47
 53    49
 47    61
 10    47
 71    80
 58    63
 69    80
 27    81
 5     72
 7     67
 68    51
 0     70
 67    52
 63    56
 60    76
 49    55
 65    52
 12    82
 43    84
 64    52
 50    62
 11    68
 34    54
 32    47
 57    77
 29    61
 40    70
 15    65
 Name: Audience score %, dtype: int64,
     Year  Profitability  Rotten Tomatoes %  Worldwide Gross
 59  2010       1.340000                 71            20.10
 55  2010       1.245333                 11            93.40
 22  2010       1.365692                 89           355.01
 6   2008       2.896019                 96           521.28
 33  2010       0.000000                 14            21.37
 1   2010       1.090000                 68            19.62
 13  2009       5.402632                 14           205.30
 44  2008       3.746782                 63           206.07
 41  2011       1.983200                 38            39.66
 62  2007       2.367685                  3            59.19
 45  2008       9.234454                 53           609.47
 24  2010       2.440500                 57            48.81
 19  2008       3.207850                 60            43.31
 23  2011       1.719514                 15            60.18
 26  2010       2.883500                 15           288.35
 35  2009       2.140000                 34            10.70
 39  2011       0.825800                 83             8.26
 56  2010       1.797417                 45            21.57
 76  2009    8096.000000                 87            60.72
 38  2011       2.536429                  8           142.04,
 59    57
 55    45
 22    88
 6     89
 33    49
 1     52
 13    68
 44    77
 41    50
 62    61
 45    76
 24    60
 19    68
 23    48
 26    49
 35    66
 39    84
 56    58
 76    81
 38    48
 Name: Audience score %, dtype: int64)

In [49]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [50]:
reg.predict(x_train)

array([66.94819447, 50.01725167, 78.96195869, 91.25227206, 49.53472474,
       66.0209622 , 56.57040392, 75.03303402, 53.77464718, 57.28195226,
       79.81514837, 63.22383684, 70.95256428, 47.13706928, 55.02975037,
       58.90575519, 66.93016592, 59.02316257, 81.0004875 , 46.58665847])

In [36]:
#set-2